* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #a3d1d1;
}

a {
  color: #333;
  text-decoration: none;
}

h1{
  text-align: center;
}

h3{
  font-size: 11pt;
}

p{
  font-size: 10pt;
}

.app{
  width: 850px;
  margin: 0 auto;
}

header{
  background: url("./images/background-img-wide.png") no-repeat 0px 80px;
}








